<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Leave Application Form</title>
<th:block th:include="layout/Header"></th:block>
	    <link rel="stylesheet" th:href="@{/css/TableCss.css}"
	href="../../static/css/TableCss.css" />
</head>
<body>
<form th:object="${leaveDetails}" th:action="@{/staff/leaveAppForm}" method="post">
<p th:if = "${error == 'error'}" th:text="${message}"></p>
<table >
	
	<tr>
	<th>Start Date* :</th>
	<td><input type="date" id="start" th:field = "*{startDate}"  required/></td>
		 <td><input type="hidden" th:field = "*{leaveHistoryId}"/></td> 
	</tr>
	
	<tr>
	<th>End Date* :</th>
	<td><input type="date" id="end" th:field = "*{endDate}" required/></td>
	</tr>

	<tr>
	<th>Category* :</th>
		<td> 
		<select th:field = "*{leaveType}" >
               <option th:each="dropDownItem : ${leaveTypeList}"
                                 th:value="${dropDownItem.leaveTypeId}"
                                 th:text="${dropDownItem.type}" />
         </select>
       </td>
    </tr>
	
	<tr>
	<th>Additional Reasons* :</th>
	<td><input id="reason" type="text" th:field = "*{applyingReason}" required /></td>
	</tr>
	
	<tr>
	<th>Work Dissemination:</th>
	<td><input type="text" th:field = "*{workDesemination}" /></td>
	</tr>
	
	<tr>
	<td><input type="hidden" th:field = "*{status}" /></td>
	</tr>
	
	<tr>
	<td><input type="submit" class="submit" value="Submit"/></td>
	</tr>
</table>
</form>
</body>
<script>
function myfun()
{
	if(document.getElementById("start").value=="" || document.getElementById("end").value==""  || document.getElementById("reason").value=="")
		{
		 alert("Mandatory Fields(*) cannot be empty.");
		 return false;
		}
	return true;
	}
	
</script>
</html>