<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<head>
<meta charset="ISO-8859-1">
<title>Manage Leave Application</title>
<th:block th:include="layout/Header"></th:block>
<link rel="stylesheet" th:href="@{/css/TableCss.css}"
	href="../../static/css/TableCss.css" />
</head>
<body>
	<table id="employees">
		<tr>
			<th>Leave Start Date</th>
			<th>Leave End Date</th>
			<th>Category</th>
			<th>Additional Reasons</th>
			<th>Work Dissemination</th>
			<th>Status</th>
		</tr>
		<tr th:each="leaveHistoryList : ${leaveHistoryList}">
			<td th:text="${leaveHistoryList.startDate}"></td>
			<td th:text="${leaveHistoryList.endDate}"></td>
			<td th:utext="${leaveHistoryList.leaveType.type}"></td>
			<td th:text="${leaveHistoryList.applyingReason}"></td>
			<td th:text="${leaveHistoryList.workDesemination}"></td>
			<td th:text="${leaveHistoryList.status}"></td>
			<td><a
				th:href="${'/staff/updateLeaveForm/'+ leaveHistoryList.leaveHistoryId}"><input
					type="submitsmall" class="submitsmall" value="Edit" /></td>
			<td><a
				th:href="${'/staff/deleteLeaveForm/'+ leaveHistoryList.leaveHistoryId}"><input
					type="submitsmall" class="submitsmall" value="Delete" /></td>
		</tr>

	</table>
	<h3>
		<a th:href="@{/staff/leaveAppForm}">Apply Leave</a>
	</h3>
	<!--  Pagination -->
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script
		src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#employees').DataTable({
				columnDefs : [ {
					targets : [ 0 ],
					orderData : [ 0, 1 ]
				}, {
					targets : [ 1 ],
					orderData : [ 1, 0 ]
				}, {
					targets : [ 4 ],
					orderData : [ 4, 0 ]
				} ]
			});
		});
	</script>
</body>
</html>