<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<head>
<meta charset="ISO-8859-1">
<title>View Personal Leave History</title>
<th:block th:include="layout/Header"></th:block>
<!-- <link rel="stylesheet" th:href="@{/css/TableCss.css}"
	href="../../static/css/TableCss.css" /> -->
</head>
<body>

		<table id="employees"  class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Leave Start Date</th>
					<th>Leave End Date</th>
					<th>Category</th>
					<th>Additional Reasons</th>
					<th>Work Dissemination</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:if="${#lists.isEmpty(leaveHistoryList)}">List is Empty</td>
				</tr>
				<tr th:each="leaveHistoryList : ${leaveHistoryList}">
					<td th:text="${leaveHistoryList.startDate}"></td>
					<td th:text="${leaveHistoryList.endDate}"></td>
					<td th:utext="${leaveHistoryList.leaveType.type}"></td>
					<td th:text="${leaveHistoryList.applyingReason}"></td>
					<td th:text="${leaveHistoryList.workDesemination}"></td>
					<td th:text="${leaveHistoryList.status}"></td>
				</tr>
			</tbody>
		</table>
		
		<!--  Pagination -->
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script
		src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#employees').DataTable({
				columnDefs : [ {
					targets : [ 0 ],
					orderData : [ 0, 1 ]
				}, {
					targets : [ 1 ],
					orderData : [ 1, 0 ]
				}, {
					targets : [ 4 ],
					orderData : [ 4, 0 ]
				} ]
			});
		});
	</script>
</body>
</html>